__pycache__
*.pyc
venv/
.venv/
.git
.gitignore
.github
.vscode
.devcontainer
.env
.env.local
.pytest_cache
.coverage
.streamlit
*.log
*.egg-info
dist/
build/
.DS_Store

# Git LFS y objetos grandes
.git/lfs/
.git/objects/

# Documentación local
*.md
docker-compose.yml