# macOS
.DS_Store

# --- Ignorar dependencias ---
# Nunca subas 'node_modules', 'venv', o 'vendor'.
# Razón: Las librerías de Windows no funcionan en Linux y viceversa.
node_modules/
__pycache__/
venv/
.pytest_cache/
# Si usas PHP/Composer
vendor/

# --- Ignorar variables de entorno ---
# Cada desarrollador puede tener claves distintas.
.env

# VS Code
.vscode/

# Archivos de compilación C++
*.o
*.out
*.exe

# Python bytecode
*.pyc

# --- Ignorar archivos de sistema ---
Thumbs.db